secrets.yaml
home-assistant.log
home-assistant_v2.db.bak
html5_push_registrations.conf
known_devices.yaml
mysensors_tcp.json
pyozw.sqlite
zwcfg_*.xml
zwscene.xml
OZW_Log.txt
.uuid
telegraf.conf
ui-lovelace.yaml
core
raspbee_gateway_config*.dat
google_calendars.yaml
.google.token
fcm_android_registrations.conf

www/googlec3c891a10900fa63.html
node-red/flows_cred.json
node-red/.flows_cred.json.backup
node-red/.sessions.json
esphome/.common.yaml

Zip-Files/
Arduino_MySensors/
.cloud/
.storage/
scripts/
deps/
node-red/
resources/
esphome/*/

.vscode